body {
    margin: 0px;
    padding: 0px;
    background-color:#ccc;
}

main {
    width: 80%;
    height: 90vh;
    margin: 0px auto;
    background-color:rgb(185, 185, 185);
    border-radius: 20px;
}


main header{
    background-color: rgb(170, 169, 169);
    margin: 0px auto;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;


}
